.selected {
  width: 100px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

.Container {
  background-color: #e75656;
}
.pulls-container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  background-color: #e75656;
}
.Container img {
  object-fit: scale-down;
}
.img-selector {
  margin-bottom: 80px;
}

.Container h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  height: 200px;
  width: 100%;
}

.textSelector {
  color: white;
  text-align: center;
  /* background-color: #517751; */
  margin-top: 0;
}

.sweat-custom-container {
  background-image: url("/Calque_1.png");
  background-repeat: no-repeat;
  max-height: 500px;
}

.sweat-custom-container {
  display: flex;
  justify-content: center;
}

.draggable-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.konvajs-content {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
}

.frame {
  display: flex;
  flex-direction: column;
}

.selected motif {
  width: 100px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

.motif {
  width: 100px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

.pull {
  width: 100px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

.pullSelector {
  width: 100px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

.textSelector {
  color: red;
  object-fit: cover;
}

canvas {
  width: 1500px;
  height: auto;
}
