.frame {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

/* CAROUSEL */

.carousel-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.carousel-slide {
  display: inline-block;
}

.carousel-image {
  max-width: 60%;
  max-height: 250px;
  border: 2px solid #E75656;
  border-radius: 8px;
  margin: 1rem;
}
