

footer {
  margin-top: auto;
}



/* CAROUSEL */

.carousel-container {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: -60px;
}

.carousel-slide {
  display: inline-block;
}

.carousel-image {
  max-width: 60%;
  max-height: 250px;
  border: 2px solid #e75656;
  border-radius: 10px;
  margin: 0.5rem;
}



body,
html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("./assets/Background2.png");
  background-size: cover;
  background-repeat: no-repeat;
}



/* ABOUT US */

.aboutus-container {
  position: relative;
  width: auto;
  height: 100vh;
  overflow: hidden;
}

.aboutus-container video {
  width: auto;
  height: auto;
}

.transparent-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #fff;
}

.aboutus-button {
  position: absolute;
  top: 10%;
  left: 93%;
  transform: translate(-1%, -1%);
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.5s;
}
